@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Permanent+Marker&family=Rancho&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}
/* navbar */
.navbar-nav {
    font-family: 'Days One', sans-serif;
}
/* card */
.card {
    width: 900px;
    height: 500px;
    background-color: bisque;
    display: flex;
}
.card .card-image {
    width: 200px;
    height: 250px;
    background-size: cover;
}
.card .card-content {
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    width: 250px;
    padding: 20px;
    justify-content: space-evenly;
}
.card .card-content .card-title {
    font-size: 20px;
    font-weight: 700;
}
.video1 {
    display: flex;
    align-items: end;
}
/* test */
.header {
    padding-left: 3%;
    background-color: rgb(111, 177, 223);
    padding-top: 2%;
    font-family: 'Days One', sans-serif;
}
.float {
    display: flex;
    padding-right: 3%;
    justify-content: end;
    text-align: center;
    
}
.provice {
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 2%;
    text-align: center;
    font-family: 'Days One', sans-serif;
    width: 100%;
    max-width: 700px;

}
.float-left {
    display: flex;
    justify-content: start;
    padding-left: 3%;
}
.proviceLeft {
    padding-top: 5%;
    text-align: center;
    width: 700px;
    padding-left: 3%;
    font-family: 'Days One', sans-serif;
}
.endvideo {
    padding-bottom: 3%;
}
/* footer */
.footer1 {
    display: flex;
    justify-content: space-evenly;
       padding: 20px;
       width: 100%;
    }
   .footer1 .div1 {
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
   }
      
   .footer1 .div1 .image {
       width: 100%;
       max-width: 300px;    
   
   }
   .footer1 .div1 .image img {
       width: 100%;
       height: 100%;
       object-fit: contain;
   }
   
   .footer1 .div  {
       display: flex;
       flex-direction: column;
   }
   .footer1 .div div {
       display: flex;
       flex-direction: column;  
   }
   .footer1 .div .flink {
       row-gap: 10px;
   }
   .footer1 .div .flink a {
       text-decoration: none;
   }
   .footer1 .div3 div i,.footer1 .div3 div p {
       display: inline;
   }
   .footer1.div3 {
       flex-basis: 350px;
   }
   .footer1 .div3  div {
       display: flex ;
       align-items: center;
       margin: 10px;
   }
   .footer1 .div3  p i {
       margin-right: 5px;
   }    
   .category {
    display: flex;
    justify-content: center;
   }
   .float {
    margin-top: 10px;
   }
   .float-left {
    margin-top: 10px;
   }
@media only screen and (max-width: 932px) {
    .float {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .float-left  {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .provice , .proviceLeft {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }
    .provice video  , .proviceLeft video {
        width: 100%;
        max-width: 1000px;
    }
    .footer1 {
        flex-direction: column;
    }
    .float video  {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    
    .float-left video {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    
} 

